<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Image App</title>
</head>
<body>
  <style>
    body{
      background-color: rgb(2, 2, 2);
      justify-content: center;
      text-align: center;
      color: white;
    }
    img{
      
      width: 450px;
      border: 2px solid white;
      height: 300px;
      
    }
  </style>
  <h1>Image Saved</h1>
  <img height="300px" style="position:relative;justify-content:center;text-align:center" src="<%= imagePath %>">
  <p><%= description %></p>
  <a href = "/">Back to home!</a>
  
</body>
</html>